@media only screen and (max-width: 600px) {
    .image{
        height: 30vh;
    }
    .mainContentDiv {
     padding: 25px 0px 0px 25px;
    }
    .subContentDiv{
        top: 46vh;
        }
  }
  @media only screen and (min-width: 600px) {
    .mainContentDiv {
     padding: 154px 0 0px 63px;;
    }
    .image{
        height:50vh;
    }
    .subContentDiv{
    top: 66vh;
    }
  }